 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
.main-wrap {
    display: grid;
    grid-template-columns: 15vh 1fr 1fr;
    grid-template-rows:15vh repeat(3, 1fr);
    grid-template-areas: 
    'header header header'
    'nav main main'
    'nav main main'
    'nav main main'
    ;
    height: 100vh;
    background-color: blueviolet;
    font-family: 'Poppins', sans-serif;
}

header {
grid-area: header;
background-color: #601f9c;
display: flex;
flex-direction: row;
justify-content: flex-end;
}
.header-seperator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35vw;
    margin-right: 20px;
}


nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #601f9c;
}

main {
    grid-area: main;
}
/* ! svg's here for nav */

.icon-dash,
.icon-visits,
.icon-settings,
.icon-members,
.icon-bell {
    width: 50px;
    height:50px;
    
}