* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  contain: content;
}

.main-wrap {
  display: grid;
  grid-template-columns: 10vw 90vw;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "header header" "nav main";
  background-color: initial;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

main {
  grid-area: main;
}

/* ! Search Input and heading */
.main-container > h1:nth-child(1) {
  float: left;
  padding: 5px;
  margin: 8px;
  font-size: 0.7em;
}

.search-input {
  display: flex;
  justify-content: flex-end;
  display: flex;
  justify-content: flex-end;
  background-color: #e7e6e6c2;
}

.search-input > input {
  width: 80%;
  padding: 5px;
  margin: 10px;
  height: 25px;
  background-image: url("../icons/search-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border-radius: 5px;
}

#lineChart,
#barChart,
#doughnutChart {
  margin: 50px auto;
  width: 200px;
}

svg {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

/* ! Header and Nav */
header {
  grid-area: header;
  background-color: #7477bf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}

.header-seperator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33vw;
  margin-right: 20px;
  align-items: center;
}

.header-seperator > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.main-wrap > header:nth-child(1) > h1:nth-child(1) {
  font-size: 0.9em;
}

.main-title {
  font-size: 0.65em;
}

.header-seperator > div > img {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-right: 5px;
}

.dropdown-content {
  display: none;
}

.dropdown-wrap-js {
  position: relative;
  display: inline-block;
}

.dropdown-content-js {
  position: absolute;
  top: 62px;
  min-width: 100px;
  background-color: rgba(144, 238, 144, 0.712);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px 6px;
  z-index: 1;
  border-radius: 0 0 5px 5px;
}

.dropdown-content-js > ul li {
  list-style-type: none;
  padding: 2px;
  background-color: rgba(122, 235, 122, 0.712);
  border-radius: 3px;
  border-bottom: 1px solid black;
}

.dropdown-content-js > ul li a {
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 1px 1px 2px #000;
  letter-spacing: 0.05em;
  padding-right: 50px;
  cursor: pointer;
}

@keyframes slideIn {
  0% {
    transform: translateX(200px);
    opacity: 0.2;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes jump {
  from {
    transform: translateY(0) scale(0.98);
    opacity: 0.8;
  }
  to {
    transform: translateY(-10px) scale(1);
    opacity: 1;
    background-color: #8f34e3;
  }
}
.make-bold {
  color: white;
  margin-right: 10px;
}

.alert-message, .alert-message2, .alert-message3 {
  background-color: blueviolet;
  width: 80%;
  margin: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  transition: all 1s ease-in;
  animation: slideIn 0.85s ease-in, jump 0.2s ease 0.85s;
}

.alert {
  display: none;
}

.alert-message > svg,
.alert-message2 > svg,
.alert-message3 > svg {
  height: 50px;
  min-width: 45px;
  max-width: 45px;
}

.cross-circle {
  fill: blueviolet;
}

.cross-path {
  stroke: #000000;
  stroke-width: 6;
  stroke-miterlimit: 10;
}

.cross, .cross2, .cross3 {
  cursor: pointer;
}

/* ! svg's here for nav */
.icon-dash,
.icon-visits,
.icon-settings,
.icon-members,
.icon-bell {
  width: 25px;
  height: 25px;
  transition: stroke 5s ease-out;
  margin: 20px 0;
}

.icon-bell-path {
  stroke: white;
  fill: white;
}

.icon-bell:hover .icon-bell-path {
  stroke: rgba(250, 234, 9, 0.87);
  fill: rgba(250, 234, 9, 0.87);
}

.icon-bell:hover {
  cursor: pointer;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #4d4c72;
}

/* ! ul for dash-line-btns */
.dash-line-btns > li > a {
  text-decoration: none;
  background-color: lightgreen;
  color: whitesmoke;
  border-radius: 5px;
  text-shadow: 1px 1px 1px rgba(0, 36, 0, 0.787);
  padding: 2px 6px;
  margin-right: 4px;
}

.dash-line-btns > li {
  list-style: none;
}

.dash-line-btns > li > a:hover {
  background-color: #64e764;
  cursor: pointer;
}

.dash-line-btns > li > a:active {
  background-color: #189a18;
}

.dash-line-btns {
  display: flex;
  justify-content: flex-end;
  font-size: 0.6em;
  margin-top: 10px;
}

.graph-title {
  font-weight: 100;
  font-size: 0.7em;
  margin-left: 2px;
}

/* ! Social- media svg and Divs */
.twitter-svg,
.facebook-svg,
.google-svg {
  height: 60px;
  width: 45px;
  transform: scale(0.8);
}

.twitter-svg {
  enable-background: new 0 0 32 32;
  position: relative;
  left: 8px;
  top: 2px;
}

.facebook-svg {
  position: relative;
  left: 2px;
}

.google-svg {
  enable-background: new 0 0 32 32;
  position: relative;
  left: 9px;
  top: 1px;
}

.twitter-svg-path,
.facebook-svg-path,
.google-svg-path {
  fill: white;
}

.social-br {
  background-color: #4d4c72;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 2px;
}

#twitter,
#facebook,
#google {
  background: #efefef;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  margin: 20px auto;
}

#twitter h3,
#facebook h3,
#google h3 {
  color: #4d4c72;
  font-weight: 300;
  letter-spacing: 0.01em;
}

section.new-members > h2 {
  margin-left: 10px;
}

.new-members > div {
  display: flex;
  justify-content: space-around;
  border-bottom: lightgreen 1px solid;
  width: auto;
  margin: 20px auto;
  font-size: 0.6em;
  padding: 10px 10px 50px 10px;
  height: 100%;
}

.new-members > div > img:not(:last-child) {
  border-radius: 50%;
  height: 50px;
}

section.new-members:nth-child(8) > h2 {
  margin-left: 30px;
}

section.new-members > h4 {
  margin-top: 19px;
  padding-top: 10px;
}

h4 {
  margin-left: 10px;
}

.form-wrap {
  top: 30px;
  position: relative;
}

#userForm > h4:nth-child(1) {
  position: relative;
  top: -52px;
}

#userForm input,
#userForm textarea,
#userForm button {
  width: 60%;
  padding: 7.5px;
  margin: 2px;
  border-radius: 5px;
  position: relative;
  top: 3px;
}

.form-input-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 380px;
}

button[type=submit] {
  cursor: pointer;
}

#message-sent {
  max-height: 32px;
  font-size: 1.2em;
  max-width: 260px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.news-wrap {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
}

.toggle-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 10px 0;
}

.arrowClick {
  height: 40px;
  width: 40px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 20px;
  width: 40px;
  transition: display 0.1s ease-in 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.round {
  border-radius: 34px;
}

.round:before {
  border-radius: 50%;
}

.on-js {
  padding: 2px 5px 2px 5px;
  color: whitesmoke;
}

.form-button > button,
.form-input-wrap > button {
  border-radius: 5px;
  margin: 2px;
  color: whitesmoke;
  background-color: #4d4c72;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.05em;
  padding: 1px 3px;
  border: #7477bf;
}

.form-button > button:hover,
.form-input-wrap > button:hover {
  background-color: #626091;
}

#timeZone {
  margin: 15px;
}

@media (min-width: 768px) {
  .main-wrap {
    grid-template-rows: 80px 1fr;
  }

  .dropdown-content-js {
    top: 73px;
  }

  .social-media-svg {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  #twitter,
#facebook,
#google {
    flex-basis: 28%;
    padding: 2px;
  }

  .header-seperator > div > img {
    height: 48px;
    width: 48px;
  }

  .header-seperator > div > img {
    height: 48px;
    width: 48px;
  }

  .header-seperator > div {
    width: 199px;
  }

  .header-seperator {
    width: 40vw;
  }

  .main-title {
    font-size: 0.85em;
  }

  .form-input-wrap {
    min-width: 702px;
  }

  #messageUser {
    min-height: 100px;
  }
}
@media (min-width: 1024px) {
  #hourly, #daily, #weekly, #monthly {
    min-height: 19px;
    font-size: 1.6em;
  }

  .dailyTraffic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .contact-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2%;
    margin: 0 10px 0 10px;
  }

  .new-members > div {
    height: auto;
  }

  .member-email-wrap {
    flex-grow: 2;
    margin-left: 20px;
  }

  #new-members-wrap,
#recent-activity-wrap {
    width: 100%;
  }

  .form-input-wrap {
    min-width: 400px;
  }

  #settings {
    display: flex;
    align-content: flex-end;
    border-bottom: none;
  }
  #settings button {
    width: 40%;
    height: 31.6px;
  }

  #formWrap {
    border-bottom: none;
  }
  #formWrap button {
    min-width: 90%;
    margin-top: 3px;
  }

  #search-text-choices {
    min-width: 90%;
    margin: 0 auto;
  }

  #messageUser {
    min-width: 90%;
  }
}

/*# sourceMappingURL=styles.css.map */
