/* ! ul for dash-line-btns */

.dash-line-btns > li > a{
    text-decoration: none;
    background-color: $links;
    color: white;
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgba(0, 36, 0, 0.787);
    padding: 2px 6px;
    margin-right: 4px;
    }
    .dash-line-btns > li{
      list-style: none;
      }
      .dash-line-btns > li > a:hover{
        background-color: darken($links,10%);
        cursor: pointer;
        }
        .dash-line-btns > li > a:active{
          background-color: darken($links,40%)
          }

      .dash-line-btns {
          display: flex;
          justify-content: flex-end;
          font-size: .6em;
          margin-top:10px ;
         }
         
    // ! headings 
    .graph-title {
      font-weight: 100;
      font-size: .7em;
      margin-left: 2px;
    }
    /* ! Social- media svg and Divs */
    
    .twitter-svg,
    .facebook-svg,
    .google-svg {
      height: 60px;
      width: 45px;
      transform: scale(.8);
    }
    .twitter-svg {
      enable-background:new 0 0 32 32;
      position: relative;
      left: 8px;
      top: 2px;
     }
     .facebook-svg {
      position: relative;
      left: 2px;
     }
     .google-svg {
      enable-background:new 0 0 32 32;
      position: relative;
      left: 9px;
      top: 1px;
     }
     
     
    .twitter-svg-path,
    .facebook-svg-path,
    .google-svg-path {
      fill: white;
    }
    .social-br {
      background-color: $primaryColor;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      margin: 2px ;
    }
    #twitter,
    #facebook,
    #google {
      background: #efefef;
      border: 1px solid black;
      border-radius: 5px;
     @include flex( space-around, center);
      width: 55%;
      margin: 20px auto;
    }
    #twitter h3,
    #facebook h3,
    #google  h3{
      color:  $primaryColor;
      font-weight: 300;
      letter-spacing: .01em;
    }
    