// !========= Tablet view ===========
@media (min-width: 768px) {

.main-wrap {
  grid-template-rows: 80px 1fr;
}
header-seperator > div:nth-child(2) {
  width: 35%;
  }
.dropdown-content-js {
  top: 80px;
  }
    //  ! social media into flex
.social-media-svg {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  #twitter,
  #facebook,
  #google {
    flex-basis: 28%;
    padding: 2px;
  }
  
  .header-seperator > div > img {
    height: 48px;
    width: 48px;
    }
       
    //! header size increase 

.header-seperator > div > img {
    height: 48px;
    width: 48px;
  }
  
  .header-seperator > div {
    width: 199px;
  }
  
  .header-seperator {
    width: 40vw;
  }
  
  .main-title {
    font-size: 0.85em;
  }

  .icon-bell {
    max-height: 35px;
    }
    .bell-wrap {
      margin-right: 25px;
    }
// ! contact section 
.form-input-wrap {
    min-width: 702px;
  }
  #messageUser {
    min-height: 100px;
   }
   .icon-dash,
.icon-visits,
.icon-settings,
.icon-members,
.icon-bell {
  width: 46px;
  height: 36px;
  transition: stroke 5s ease-out;
  margin: 20px 0;
}

}

// !========= Desktop view ===========


@media (min-width: 1024px) {
  .icon-bell {
    max-height: 40px;
    }
    .bell-wrap {
      margin-right: 30px;
    }
  #hourly,#daily,#weekly,#monthly {
    min-height: 19px;
    font-size: 1.6em;
   }
   
   .dailyTraffic {
    display: grid;
    grid-template-columns: 50% 50%;
    
  }

.contact-wrap {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  gap: 5%;
  margin: 0 10px 0 10px;
}

.new-members > div {
  font-size: .9em;
  height: auto;
  }

.member-email-wrap {
  flex-grow: 2;
  margin-left: 20px;
}

#new-members-wrap,
#recent-activity-wrap
 {
  width: 100%;
  
  }
 
  .form-input-wrap {
    min-width: 400px;
   }
   #settings{
    display: flex;
    align-content: flex-end;
    border-bottom: none;
    & button {
      width: 40%;
      height: 31.6px
    }
   }
   
   #formWrap {
    border-bottom: none;
    & button {
      min-width: 90%;
      margin-top: 3px;

    }
   }

   #search-text-choices {
    min-width: 90%;
    margin: 0 auto;
    }
    #messageUser {
    min-width: 90%;
    }
    #message-sent {
      font-size: 0.88em;
    }

.icon-dash,
.icon-visits,
.icon-settings,
.icon-members,
.icon-bell {
  width: 56px;
  height: 46px;
  transition: stroke 5s ease-out;
  margin: 30px 0;
}

// ! settings realignment 

#settings {
  padding-right: 52px;
  padding-left: 3px;
  margin-top: -11px;
}


#timeZone {
  width: 80%;
}

div.toggle-wrap:nth-child(1) {
  width: 80%;
}

div.toggle-wrap:nth-child(2) {
  width: 80%;
}
.on-js {
  font-size: .7em;
}

 
}

