@mixin flex(
	$justify-content: null,
	$align-items: null) {

	display: flex;
    justify-content: $justify-content;
    align-items: $align-items;

}
// @mixin mediaTablet (@media(min-width:768px)){

// }