* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
// ! in media queries replace below to 3 columns
.main-wrap {
  display: grid;
  grid-template-columns: 10vw 90vw ;
  grid-template-rows: 8vh repeat(3, 1fr);
  grid-template-areas: 
  'header header'
  'nav main'
  'nav main'
  'nav main'
  ;
  height: auto-fit;
  background-color: initial;
  font-family: 'Poppins', sans-serif;
}
main {
  grid-area: main;
}




/* ! Search Input and heading */
.main-container > h1:nth-child(1) {
  float: left;
  padding: 5px;
  margin: 8px;
  font-size: .7em;
 }
 
.search-input {
  @include flex(flex-end,null);
  display: flex;
  justify-content: flex-end;
  background-color: #e7e6e6c2;
}
.search-input > input {
  width: 80%;
  padding: 5px;
  margin: 10px;
  height: 25px;
  background-image: url('../icons/search-icon.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border-radius: 5px;
}


#lineChart,
#barChart,
#doughnutChart{
margin: 50px auto;
width:200px;
}

