* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
  //  ! == you cant put the contain rule here as its a universal selector 
}
body{
   contain: content;

}
// ! in media queries replace below to 3 columns
.main-wrap {
  display: grid;
  grid-template-columns: 10vw 90vw ;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
  'header header'
  'nav main'
  ;
  background-color: initial;
  font-family: 'Poppins', sans-serif;
  height: 100%;
}
main {
  grid-area: main;
}




/* ! Search Input and heading */
.main-container > h1:nth-child(1) {
  float: left;
  padding: 5px;
  margin: 8px;
  font-size: .7em;
 }
 
.search-input {
  @include flex(flex-end,null);
  display: flex;
  justify-content: flex-end;
  background-color: $secondaryColor;
  border-top: whitesmoke 1px solid;
  border-radius: 4px 0 0 4px;
}
.search-input > input {
  width: 80%;
  padding: 5px;
  margin: 10px;
  height: 25px;
  background-image: url('../icons/search-icon.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border-radius: 5px;
}


#lineChart,
#barChart,
#doughnutChart{
margin: 50px auto;
width:200px;
}

svg {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

