/* ! Header and Nav */
header {
  grid-area: header;
  background-color: $secondaryColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $header;
  }
  .header-seperator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33vw;
    margin-right: 20px;
    align-items: center;
  }
  .header-seperator > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
  .main-wrap > header:nth-child(1) > h1:nth-child(1) {
    font-size: 0.9em;
   }
   .main-title {
    font-size: 0.65em;
   }
   
   
  .header-seperator > div > img {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-right: 5px;
  }

  // ! styles for dropdown menu 
  .dropdown-content {
    display: none;
  }
.dropdown-wrap-js {
  position: relative;
  display: inline-block;
}
.dropdown-content-js {
position: absolute;
top: 62px;
min-width: 100px;
background-color: $linksNav;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 5px 6px;
z-index: 1;
border-radius: 0 0 5px 5px;
}
.dropdown-content-js > ul li {
  list-style-type:none ;
  padding: 2px;
  background-color: darken($linksNav,5%);
  border-radius: 3px;
  border-bottom: 1px solid black;
}
.dropdown-content-js > ul li a {
  text-decoration: none;
  color:$links-font;
  text-shadow: 1px 1px 2px #000;
  letter-spacing: .05em;
  padding-right:50px ;
  cursor: pointer;
}
// .dropdown-wrap-js:hover .dropdown-content-js {
//   display: block;
// }
// .dropdown-content-js > ul li:hover {
//   background-color: darken($linksNav, 40%);
// }
//  !keyframes for alert box

  @keyframes slideIn {
    0% {
      transform: translateX(200px);
      opacity: .2;
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }
  @keyframes jump {
    from {
transform: translateY(0) scale(.98);
opacity: .8;
    }
    to {
      transform: translateY(-10px) scale(1);
      opacity: 1;
      background-color: lighten(blueviolet, 2%);
    }
  }
 // ! toggle class for the alert icon plus alert settings 
.make-bold {
  color: white;
  margin-right: 10px;
}
.alert-message, .alert-message2,.alert-message3{
  background-color: $alertBackground;
  width: 80%;
  margin: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: .7em;
  @include flex(space-between, center);
  flex-direction: row-reverse;
  transition: all 1s ease-in;
  animation: slideIn .85s ease-in,
              jump .2s ease .85s ; 
  
}
.alert {
  display: none;
  
}
.alert-message > svg,
.alert-message2 > svg,
.alert-message3 > svg  {
  height: 50px;
  min-width: 45px;
  max-width: 45px;
}
 
 
.cross-circle {
  fill:  $alertBackground;
}

.cross-path {
  stroke:#000000;
  stroke-width:6;
  stroke-miterlimit:10;
}

.cross, .cross2,.cross3 {
  cursor: pointer;
}
